@imgBlockHeight: 550px;
@mainColor: #333;
@buttonColor: #9e8a78;


body, html {
  font-family: 'Playfair Display', sans-serif;
  color: white;
  background: #fafafa;
  box-sizing: border-box;
  font-size: 16px;

  .button {
    background-color: @buttonColor;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 3px;
    text-decoration: none;
    opacity: .9;

    &:hover {
      color: #fff;
      opacity: 1;

    }
  }


  .wrapper {
    padding: 5%;
    margin: 0 auto;
    max-width: 1700px;
    @media (max-width: 992px) {
      padding: 15% 5% 5%;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -0.04em;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1em;
      color: #303133;
      font-weight: 600;
      line-height: 1;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    h5 {
      font-size: 1.1rem;
    }

  }

  header {
    .container-fluid {
      max-width: 1700px;
      margin: 0 auto;
      padding: 0 10%;

      .tel {
        color: white;
        text-align: center;
        @media (max-width: 992px) {
          flex: 100%;
        }
      }

      img {
        height: 74px;
      }
      .navbar-nav {
        li {
          text-transform: uppercase;
        }

        @media (min-height: 992px) {
          flex: 1;
          justify-content: space-around;
        }
      }
    }
  }

    .carousel {
      position: relative;
      margin-bottom: 0 !important;

      &__text {
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .button {
          margin-bottom: 10px;
          margin-right: 10px;
        }

      }

      &__text.first {
        background-image: url("img/slide-1.jpg");
      }

      &__text.second {
        background-image: url("img/slide-2.jpg");
      }

      &__text.third {
        background-image: url("img/slide-3.jpg");
      }

      .slick-dots {
        position: absolute;
        bottom: 8%;

        li {
          margin: 0 -2px;
        }

        li.slick-active button:before {
          color: white;
          transform: scale(1.7);
        }

        li button:before {
          color: white;
        }
      }
    }

    .price {
      text-align: center;
      color: @mainColor;
      background-color: #fafafa;

      h2 {
        margin-bottom: 45px;
      }

      &__warning {
        font-weight: bold;
        span {
          color: red;
        }
      }

      h3 {
        width: 100%;
        background: #9e8a78;
        padding: 10px 25px;
        display: inline-block;
        border-radius: 3px;
        margin-bottom: 50px;
        color: white;
      }

      &__services {
        &__item {
          text-align: left;
          box-sizing: border-box;
          margin-top: 20px;

          div {
            position: relative;
            margin-bottom: 30px;

            p {
              font-size: 0.8rem;
              padding-right: 60px;
            }

            span {
              color: #9e8a78;
              position: absolute;
              top: -13px;
              right: 0;
              font-weight: bold;
              font-size: 1.5rem;
            }
          }

          h5 {
            font-weight: bold;
            padding-right: 60px;
          }

        }
      }

      &__card {
        margin-top: 20px;
      }

    }

    .about {
      img {
        height: 100px;
        text-align: center;
      }

      h2 {
        color: @buttonColor;
      }

      .about__img {
        position: relative;
        padding-bottom: 55%;

        img {
          width: 50%;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
          position: absolute;

          &:first-child(1) {
            top: 0;
            left: 0;
          }

          &:nth-child(2) {
            left: 51%;
            top: 5px;
            position: absolute;
          }

          &:nth-child(3) {
            top: 46px;
            left: 10%;
            position: absolute;

          }
        }
        @media (max-width: 767px ) {
          display: none;
        }
      }



    }

    .booking {
      background-image: url("img/bg_booking.jpg");
      width: 100%;
      background-position: center center;
      background-size: cover;
      height: @imgBlockHeight;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color: white;
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        height: 650px;
      }

      &__left {
        padding: 20px;

        h2 {
          color: white;
        }
      }

      &__right {
        background: white;
        color: #333333;
        border-radius: 3px;
        padding: 20px;

        a {
          margin-top: 20px;
        }

        @media (max-width: 576px) {
          width: 90%;
          margin: 5%;
        }
      }

    }

    .team {
      p {
        margin-bottom: 50px
      }

      &__member {
        margin-bottom: 25px;
        z-index: 10;
        position: relative;
        overflow: hidden;

        &__name {
          padding: 20px;
          background: rgba(158, 138, 120, 0.8);
          color: #fafafa;
          transition: all 0.7s;
          text-align: center;
          z-index: 2;
          position: absolute;
          width: 100%;
          font-weight: bold;
        }

        &:hover {
          .team__member__name {
            transform: translateY(-60px);
          }

          img {
            filter: grayscale(100%);
          }
        }
      }

      img {
        width: 100%;
        height: auto;
        z-index: 1;
        border-radius: 3px;
      }


    }

    .phrase {

      background-attachment: fixed;
      background-image: url("img/bg__sentences.jpg");
      height: @imgBlockHeight;
      color: white;
      background-size: cover;
      display: flex;
      align-items: center;

      &__carousel {
        position: relative;
        width: 80%;
        margin: 0 auto;

        div {
          text-align: center;
        }

        .slick-dots {
          position: absolute;

          li {
            margin: 0 -2px;
          }

          li.slick-active button:before {
            color: white;
            transform: scale(1.7);
          }

          li button:before {
            color: white;
          }
        }
      }
    }

    .services {
      &__item {
        text-align: center;
        padding: 0;

        img {
          width: 100%;
          border-radius: 50%;
          margin-bottom: 15px;
          padding: 10px;

          &:hover {
            filter: grayscale(100%);
          }
        }

      }
    }

    .slogan {
      background-image: url("img/bg_slogan.jpg");
      width: 100%;
      height: @imgBlockHeight;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      color: white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .news {
      box-sizing: border-box;

      &__card {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        overflow: hidden;

        img {
          width: 100%;
        }

        &__button {
          color: @mainColor;
          text-decoration: none;
          opacity: 0.9;
          font-size: 0.8em;

          &:hover {
            color: @mainColor;
            opacity: 1;
          }
        }

        &__text {
          padding: 15px;

          h5 {
            text-transform: uppercase;
            color: @mainColor;
          }
        }

        &__read {
          padding: 15px;

        }
      }

    }

    footer {
      background-color: #222227;
      color: white;

      .wrapper {
        @media (min-width: 576px) {
          padding: 5% 5%;
        }

      }

      .footer-up {
        div {
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          max-width: 170px;
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 0;
        }

      }

      .footer-down {
        justify-content: space-between;

        div {
          margin-bottom: 20px;
          @media (max-width: 992px) {
            text-align: center;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          justify-content: flex-end;
          @media (max-width: 992px) {
            justify-content: center;
          }

          li {
            list-style: none;
            margin-left: 15px;
            text-transform: uppercase;
            margin-bottom: 10px;

            a {
              text-decoration: none;
              color: white;

              &:hover {
                color: #9e8a78;
              }
            }
          }

        }
      }
    }

    #scroll-to-top {
      background: @buttonColor;
      width: 35px;
      height: 35px;
      text-align: center;
      position: fixed;
      bottom: 50px;
      right: 50px;
      border-radius: 5px;
      color: white;
      line-height: 35px;
      font-weight: bold;
      font-size: 20px;
      text-decoration: none;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      z-index: 10;
    }

  .order-modal{
    .wrapper {
      position: relative;
      padding: 27px 0;

      form {
        div{
          background: #dad8d5;
          border-radius: 3px;
          span {
            width: 105px;
            padding: 15px 5px;
            transform: translateX(4px);
            background: #dad8d5;
          }

        }

        button {
          width: 100%;
          color: white;
          background: @buttonColor;
          padding: 15px;
          border: none;
          border-radius: 3px;
        }
      }

      h2 {
        color:@mainColor;
        margin: 20px;
      }


    }
    .btn-close{
      position: absolute;
      top: 20px;
      right: 20px;
    }

  }

  .modal-finish{
    position: fixed;
    top: 36%;
    left: 20%;
    width: 60%;
    padding: 30px 50px;
    border-radius: 7px;
    display: none;
    background: white;
    text-align: center;
@media(max-width: 576px){
  width: 90%;
  left: 5%;
}

  }


  }


