body,
html {
  font-family: 'Playfair Display', sans-serif;
  color: white;
  background: #fafafa;
  box-sizing: border-box;
  font-size: 16px;
}
body .button,
html .button {
  background-color: #9e8a78;
  color: #fff;
  line-height: 45px;
  display: inline-block;
  padding: 0 25px;
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.9;
}
body .button:hover,
html .button:hover {
  color: #fff;
  opacity: 1;
}
body .wrapper,
html .wrapper {
  padding: 5%;
  margin: 0 auto;
  max-width: 1700px;
}
@media (max-width: 992px) {
  body .wrapper,
  html .wrapper {
    padding: 15% 5% 5%;
  }
}
body .wrapper h1,
html .wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.04em;
}
@media (max-width: 576px) {
  body .wrapper h1,
  html .wrapper h1 {
    font-size: 2rem;
  }
}
body .wrapper h2,
html .wrapper h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #303133;
  font-weight: 600;
  line-height: 1;
}
body .wrapper h3,
html .wrapper h3 {
  font-size: 1.5rem;
}
body .wrapper h4,
html .wrapper h4 {
  font-size: 1.2rem;
}
body .wrapper h5,
html .wrapper h5 {
  font-size: 1.1rem;
}
body header .container-fluid,
html header .container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10%;
}
body header .container-fluid .tel,
html header .container-fluid .tel {
  color: white;
  text-align: center;
}
@media (max-width: 992px) {
  body header .container-fluid .tel,
  html header .container-fluid .tel {
    flex: 100%;
  }
}
body header .container-fluid img,
html header .container-fluid img {
  height: 74px;
}
body header .container-fluid .navbar-nav li,
html header .container-fluid .navbar-nav li {
  text-transform: uppercase;
}
@media (min-height: 992px) {
  body header .container-fluid .navbar-nav,
  html header .container-fluid .navbar-nav {
    flex: 1;
    justify-content: space-around;
  }
}
body .carousel,
html .carousel {
  position: relative;
  margin-bottom: 0 !important;
}
body .carousel__text,
html .carousel__text {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
body .carousel__text .button,
html .carousel__text .button {
  margin-bottom: 10px;
  margin-right: 10px;
}
body .carousel__text.first,
html .carousel__text.first {
  background-image: url("img/slide-1.jpg");
}
body .carousel__text.second,
html .carousel__text.second {
  background-image: url("img/slide-2.jpg");
}
body .carousel__text.third,
html .carousel__text.third {
  background-image: url("img/slide-3.jpg");
}
body .carousel .slick-dots,
html .carousel .slick-dots {
  position: absolute;
  bottom: 8%;
}
body .carousel .slick-dots li,
html .carousel .slick-dots li {
  margin: 0 -2px;
}
body .carousel .slick-dots li.slick-active button:before,
html .carousel .slick-dots li.slick-active button:before {
  color: white;
  transform: scale(1.7);
}
body .carousel .slick-dots li button:before,
html .carousel .slick-dots li button:before {
  color: white;
}
body .price,
html .price {
  text-align: center;
  color: #333;
  background-color: #fafafa;
}
body .price h2,
html .price h2 {
  margin-bottom: 45px;
}
body .price__warning,
html .price__warning {
  font-weight: bold;
}
body .price__warning span,
html .price__warning span {
  color: red;
}
body .price h3,
html .price h3 {
  width: 100%;
  background: #9e8a78;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 50px;
  color: white;
}
body .price__services__item,
html .price__services__item {
  text-align: left;
  box-sizing: border-box;
  margin-top: 20px;
}
body .price__services__item div,
html .price__services__item div {
  position: relative;
  margin-bottom: 30px;
}
body .price__services__item div p,
html .price__services__item div p {
  font-size: 0.8rem;
  padding-right: 60px;
}
body .price__services__item div span,
html .price__services__item div span {
  color: #9e8a78;
  position: absolute;
  top: -13px;
  right: 0;
  font-weight: bold;
  font-size: 1.5rem;
}
body .price__services__item h5,
html .price__services__item h5 {
  font-weight: bold;
  padding-right: 60px;
}
body .price__card,
html .price__card {
  margin-top: 20px;
}
body .about img,
html .about img {
  height: 100px;
  text-align: center;
}
body .about h2,
html .about h2 {
  color: #9e8a78;
}
body .about .about__img,
html .about .about__img {
  position: relative;
  padding-bottom: 55%;
}
body .about .about__img img,
html .about .about__img img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
}
body .about .about__img img:first-child(1),
html .about .about__img img:first-child(1) {
  top: 0;
  left: 0;
}
body .about .about__img img:nth-child(2),
html .about .about__img img:nth-child(2) {
  left: 51%;
  top: 5px;
  position: absolute;
}
body .about .about__img img:nth-child(3),
html .about .about__img img:nth-child(3) {
  top: 46px;
  left: 10%;
  position: absolute;
}
@media (max-width: 767px) {
  body .about .about__img,
  html .about .about__img {
    display: none;
  }
}
body .booking,
html .booking {
  background-image: url("img/bg_booking.jpg");
  width: 100%;
  background-position: center center;
  background-size: cover;
  height: 550px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  body .booking,
  html .booking {
    height: 650px;
  }
}
body .booking__left,
html .booking__left {
  padding: 20px;
}
body .booking__left h2,
html .booking__left h2 {
  color: white;
}
body .booking__right,
html .booking__right {
  background: white;
  color: #333333;
  border-radius: 3px;
  padding: 20px;
}
body .booking__right a,
html .booking__right a {
  margin-top: 20px;
}
@media (max-width: 576px) {
  body .booking__right,
  html .booking__right {
    width: 90%;
    margin: 5%;
  }
}
body .team p,
html .team p {
  margin-bottom: 50px;
}
body .team__member,
html .team__member {
  margin-bottom: 25px;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
body .team__member__name,
html .team__member__name {
  padding: 20px;
  background: rgba(158, 138, 120, 0.8);
  color: #fafafa;
  transition: all 0.7s;
  text-align: center;
  z-index: 2;
  position: absolute;
  width: 100%;
  font-weight: bold;
}
body .team__member:hover .team__member__name,
html .team__member:hover .team__member__name {
  transform: translateY(-60px);
}
body .team__member:hover img,
html .team__member:hover img {
  filter: grayscale(100%);
}
body .team img,
html .team img {
  width: 100%;
  height: auto;
  z-index: 1;
  border-radius: 3px;
}
body .phrase,
html .phrase {
  background-attachment: fixed;
  background-image: url("img/bg__sentences.jpg");
  height: 550px;
  color: white;
  background-size: cover;
  display: flex;
  align-items: center;
}
body .phrase__carousel,
html .phrase__carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
body .phrase__carousel div,
html .phrase__carousel div {
  text-align: center;
}
body .phrase__carousel .slick-dots,
html .phrase__carousel .slick-dots {
  position: absolute;
}
body .phrase__carousel .slick-dots li,
html .phrase__carousel .slick-dots li {
  margin: 0 -2px;
}
body .phrase__carousel .slick-dots li.slick-active button:before,
html .phrase__carousel .slick-dots li.slick-active button:before {
  color: white;
  transform: scale(1.7);
}
body .phrase__carousel .slick-dots li button:before,
html .phrase__carousel .slick-dots li button:before {
  color: white;
}
body .services__item,
html .services__item {
  text-align: center;
  padding: 0;
}
body .services__item img,
html .services__item img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
  padding: 10px;
}
body .services__item img:hover,
html .services__item img:hover {
  filter: grayscale(100%);
}
body .slogan,
html .slogan {
  background-image: url("img/bg_slogan.jpg");
  width: 100%;
  height: 550px;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .news,
html .news {
  box-sizing: border-box;
}
body .news__card,
html .news__card {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  overflow: hidden;
}
body .news__card img,
html .news__card img {
  width: 100%;
}
body .news__card__button,
html .news__card__button {
  color: #333;
  text-decoration: none;
  opacity: 0.9;
  font-size: 0.8em;
}
body .news__card__button:hover,
html .news__card__button:hover {
  color: #333;
  opacity: 1;
}
body .news__card__text,
html .news__card__text {
  padding: 15px;
}
body .news__card__text h5,
html .news__card__text h5 {
  text-transform: uppercase;
  color: #333;
}
body .news__card__read,
html .news__card__read {
  padding: 15px;
}
body footer,
html footer {
  background-color: #222227;
  color: white;
}
@media (min-width: 576px) {
  body footer .wrapper,
  html footer .wrapper {
    padding: 5% 5%;
  }
}
body footer .footer-up div,
html footer .footer-up div {
  margin-bottom: 20px;
}
body footer .footer-up img,
html footer .footer-up img {
  width: 100%;
  max-width: 170px;
  margin-bottom: 20px;
}
body footer .footer-up p,
html footer .footer-up p {
  margin-bottom: 0;
}
body footer .footer-down,
html footer .footer-down {
  justify-content: space-between;
}
body footer .footer-down div,
html footer .footer-down div {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  body footer .footer-down div,
  html footer .footer-down div {
    text-align: center;
  }
}
body footer .footer-down ul,
html footer .footer-down ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  body footer .footer-down ul,
  html footer .footer-down ul {
    justify-content: center;
  }
}
body footer .footer-down ul li,
html footer .footer-down ul li {
  list-style: none;
  margin-left: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
body footer .footer-down ul li a,
html footer .footer-down ul li a {
  text-decoration: none;
  color: white;
}
body footer .footer-down ul li a:hover,
html footer .footer-down ul li a:hover {
  color: #9e8a78;
}
body #scroll-to-top,
html #scroll-to-top {
  background: #9e8a78;
  width: 35px;
  height: 35px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
  color: white;
  line-height: 35px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  z-index: 10;
}
body .order-modal .wrapper,
html .order-modal .wrapper {
  position: relative;
  padding: 27px 0;
}
body .order-modal .wrapper form div,
html .order-modal .wrapper form div {
  background: #dad8d5;
  border-radius: 3px;
}
body .order-modal .wrapper form div span,
html .order-modal .wrapper form div span {
  width: 105px;
  padding: 15px 5px;
  transform: translateX(4px);
  background: #dad8d5;
}
body .order-modal .wrapper form button,
html .order-modal .wrapper form button {
  width: 100%;
  color: white;
  background: #9e8a78;
  padding: 15px;
  border: none;
  border-radius: 3px;
}
body .order-modal .wrapper h2,
html .order-modal .wrapper h2 {
  color: #333;
  margin: 20px;
}
body .order-modal .btn-close,
html .order-modal .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
body .modal-finish,
html .modal-finish {
  position: fixed;
  top: 36%;
  left: 20%;
  width: 60%;
  padding: 30px 50px;
  border-radius: 7px;
  display: none;
  background: white;
  text-align: center;
}
@media (max-width: 576px) {
  body .modal-finish,
  html .modal-finish {
    width: 90%;
    left: 5%;
  }
}
/*# sourceMappingURL=styles.css.map */